.content-oferta{
    .ofertas{
        list-style: none;
        padding:0px;
        li{
            margin-bottom: 20px;
            width: 100%;
            a{
                display: table;
                width:100%;
            }
            .text-conte{
                padding: 1px 15px;
                background: $color-silver;
                width: 100%;
                color:black;
            }
            .date{
                background: white;        
            }
        }
        .feature .title{
            background-color: $color-feature;
        }
        .col-md-12,.col-md-3,.col-md-9{
            padding: 0px;
        }
    }
    article{
        .date{
            margin-bottom: 4px;
            padding: 3px 15px;  
            color:$color-feature;          
        }
        .title{
            background-color:$color-primary;
            color:white;
            padding: 3px 15px;
            text-transform: uppercase;
        }       
            h2,h1{
                font-size: 27px;
                margin-top:14px;
                margin-bottom: 0px;
                font-weight: 600;
            }
            p{
                font-size: 14px;
            }        
    }
    .description-o{
        margin:32px 0px;
        color:#5b5b5e;
        h2{
            font-size:25px !important;
            color:$color-primary !important;
            margin-bottom: 20px;
        }
        p{
            font-size: 16px !important;
            margin-bottom: 20px;
            text-align: justify !important;
        }
    }
    
}
.filtro{
    background-color:#a6a5aa;
    color:white;
    padding: 1px 15px;
    h3{
        color:$color-dakrblue;
        font-weight: 600;
    }
    div{
        margin-bottom: 10px;
        .btn{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
.otras-c{
    text-align: left;
    font-size: 16px;
    strong{
        font-size: 18px;
    }
}
.breadcrumbs{
    text-align: right;
    padding-top: 30px;
}
@media(max-width:768px){
    .breadcrumbs{
        padding-top: 0px;
    }
}