    /*
    Flaticon icon font: Flaticon
    Creation date: 24/06/2019 11:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-usuarios-hoxe:before { content: "\f100"; }
.flaticon-usuarios-totais:before { content: "\f101"; }
.flaticon-empresas-rexistradas:before { content: "\f102"; }
.flaticon-ofertas-hoxe:before { content: "\f103"; }
.flaticon-total-ofertas:before { content: "\f104"; }
.flaticon-total-cursos:before { content: "\f105"; }
.flaticon-cursos-hoxe:before { content: "\f106"; }
.flaticon-novas-hoxe:before { content: "\f107"; }
.flaticon-total-novas:before { content: "\f108"; }
    
    $font-Flaticon-usuarios-hoxe: "\f100";
    $font-Flaticon-usuarios-totais: "\f101";
    $font-Flaticon-empresas-rexistradas: "\f102";
    $font-Flaticon-ofertas-hoxe: "\f103";
    $font-Flaticon-total-ofertas: "\f104";
    $font-Flaticon-total-cursos: "\f105";
    $font-Flaticon-cursos-hoxe: "\f106";
    $font-Flaticon-novas-hoxe: "\f107";
    $font-Flaticon-total-novas: "\f108";