	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/06/2019 11:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 24px;
font-style: normal;
margin-left: 0px;
}

.flaticon-usuarios-hoxe:before { content: "\f100"; }
.flaticon-usuarios-totais:before { content: "\f101"; }
.flaticon-empresas-rexistradas:before { content: "\f102"; }
.flaticon-ofertas-hoxe:before { content: "\f103"; }
.flaticon-total-ofertas:before { content: "\f104"; }
.flaticon-total-cursos:before { content: "\f105"; }
.flaticon-cursos-hoxe:before { content: "\f106"; }
.flaticon-novas-hoxe:before { content: "\f107"; }
.flaticon-total-novas:before { content: "\f108"; }