$color-gray:#67676b;
$color-primary:#5b778f;
$color-cian:#98c5ee;
$color-dakrblue:#364755;
$color-red:#9c3f49;
$color-silver:#e4e5e8;
$color-gold:#ac880b;
$color-feature:#9c9ba0;
$color-naranja:#e78628;
.color-primary{
  color:$color-primary;
  }
.b-silver{
background-color: $color-silver;
}
a{
    color:$color-gray;
    &:hover,&:active{
        text-decoration: none;
    }
}
body{
    font-family: 'Roboto', sans-serif;
}
/*
*slider
*/
.slider{
    height: 91vh;
    width: 100%;
}
@media(max-width:768px){
  .slider{
    height: 400px;
  }
}

  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .btn-primary{
      background-color: $color-primary;
      border:none;
  }
  .btn-default{
    background-color: $color-dakrblue;
    color:white;
    border:none;
  }
  .btn-naranja{
    background-color: $color-naranja;
    color:white;
    font-weight: 600;
  }
  @media(min-width:769px){
    .no-padding-md{
        padding: 0px;
    }
  }
  /*contenido pincipal */
  .contenido{
      margin-top: 30px;
     
      h3{
        text-transform: uppercase;
        font-weight: 300;
        margin-top: 0px;
        padding-top:15px;
        color:#4f4e50;
    }
      article{
          margin-bottom: 20px; 
          img{
            width: 100%;
          }
          .img-des{
            position: relative;
            .text-info{
              position: absolute;
              left: 0px;
              bottom: 30px;
              padding: 7px 15px 3px;
              img{
                width: 40px;
              }
              .title{
                color:white;
                padding: 3px 7px 3px 0px;
                font-weight: 400;
                background-color: $color-gold;
                font-size: 23px;
                position: relative;
                margin-bottom: 10px;               
                &:before{
                  content: "";
                  height: 100%;
                  width: 16px;
                  top: 0px;
                  left: -15px;
                  position: absolute;
                  background-color: inherit;

                }
               }
            }
          }          
          .content{
              padding: 7px 15px 3px;
            
            .title{
                color:black;
                padding: 3px 5px 3px 15px;
                font-weight: 300;
                background-color: #e4e5e8;
                font-size: 20px;
                margin-left: -15px;
            }
          
        }
      }
  }
  .border-red-top{
    border-top:solid 2px $color-red;
  }
  .border-silver-top{
    border-top:solid 2px $color-silver;
  }
  .content-red{
    background: $color-red;
    color:white;
  }
  .content-silver{
    background: $color-silver;
    color:$color-dakrblue;
    .title{
      background-color: #9c9ba0 !important;
      color:white !important;
    }
  }
  .content-gold{
    background: $color-gold;
    color:white;
    padding-bottom: 10px !important;
    input{
      width: 67%;
      border:solid 1px #564406;
    }
    .btn-gold{
      background: #564406;
      width: 30%;
    }
  }
  .fixed{
    background-color: black;
  }
  /*secciones Internas*/
  .b-portada-img{
    height: 450px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
  .title{
      color:$color-primary;
      margin-bottom: 30px;
   }
    .page-content{ 
      p{
        color:$color-gray;
        font-size: 16px !important;
        margin-bottom: 30px;
      }
      h5{
        font-size: 16px !important;
        font-weight: bold;
      }
      h2{
        color:#9c9a9f;
        font-weight: 400;
        font-size: 19px;

      }
  }
  .descargas{
    list-style: none;
    padding: 0px;
    li{     
      position:relative;
      margin-bottom: 10px;
      &:before{
        content:"";
        display: inline-block;
        height: 5px;
        width: 5px;
        border-radius:50%;
        left: 10px;
        top:50%;
        background-color: white;
        margin-top: -2px;
        position: absolute;
        z-index:2px;
      }      
      a{
        width: 100%;
        padding: 10px 10px 10px 20px;       
        background-color:#9c9ba0;
        font-size: 17px;
        color:white;
        display: table;
        .peso{
          font-weight: 300;
        }
      } 
    }
  }
  .enlaces{
    padding-left: 25px;
    margin-top: 20px;
    li{
      margin-bottom:10px;
      font-size: 17px;
    }
  }
  