.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  background-color: #777;
}
.carousel .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-inner .bg1 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg');
  background-position: center top;
}
.carousel .carousel-inner .bg2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg');
  background-position: center center;
}
.carousel .carousel-inner .bg3 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg');
  background-position: center bottom;
}
.carousel-caption{
    text-align: center;
  
    h1{
        background: rgba(0,0,0,0.5);
        margin-bottom: 40px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        font-weight: 400;
    }
    .btn-primary{
        color:white;
        background: black;
        border:none;
        border-radius: 0px;
        margin-bottom: 20px;
    }
}
.carousel-indicators{
    li{
        background-color:white !important;
        height: 16px;
        width: 16px;
        margin: 0px 5px;
        opacity: 0.5;
    }
    .active{
        margin: 0px 5px !important;
        position: relative;
        height: 16px;
        width: 16px;
        opacity: 1;
            &:before{
                width: 20px;
                height: 20px;
                content: "";
                position: absolute;
                left: -3px;
                top:-3px;
                border: solid 1px white;
                background: transparent;
                border-radius: 50%;
            }
    }
}
@media(min-width:1200px){
    .carousel-caption{
        h1{
            font-size: 50px;
        }
    }
}