    /*
    Flaticon icon font: Flaticon
    Creation date: 10/10/2018 11:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
    }

    .flaticon-facebook:before { content: "\f100"; }
.flaticon-boton-de-logo-del-twitter:before { content: "\f101"; }
.flaticon-logo-linkedin:before { content: "\f102"; }
.flaticon-google-plus:before { content: "\f103"; }
.flaticon-youtube:before { content: "\f104"; }
.flaticon-podcast-boton-circular:before { content: "\f105"; }
.flaticon-marcador-de-posicion:before { content: "\f106"; }
    
    $font-Flaticon-facebook: "\f100";
    $font-Flaticon-boton-de-logo-del-twitter: "\f101";
    $font-Flaticon-logo-linkedin: "\f102";
    $font-Flaticon-google-plus: "\f103";
    $font-Flaticon-youtube: "\f104";
    $font-Flaticon-podcast-boton-circular: "\f105";
    $font-Flaticon-marcador-de-posicion: "\f106";