.pre-footer{
    font-size: 15px;
    background-color: #d1cfcf;
    color:$color-gray;
    padding-top:30px; 
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 30px;
    .m-footer{
        list-style: none;
        padding-left: 0px;
        margin-bottom: 20px;
        li{
            a{
                font-size: 15px;
                color:$color-gray;
            }
        }
    }
    .log img{
        width: 150px;
        height: auto;
        float: right;
    }
}
@media(max-width:769px){
    .pre-footer{
       
    .log {
        text-align: center;
        margin-top: 20px;
        img{
        float: none;
    }
}
}
}
footer{
    background-color: white;
    text-align: center;
    padding: 20px 15px 10px 15px;
    color:$color-gray;
}