header{
    
    position:absolute;
    width:100%;
    z-index: 100;
    .header-top{
        background:$color-gray;
        color:white;
        position: relative;
        padding-top:5px;
        padding-bottom: 3px;
        .row{
            position: relative;
            .redes-top{
                position: relative;
                              
            }
        }
        a{
            color:white;
        }
        .tel{
            margin: 0px 15px 0px;
        }
        .email{
            margin: 0px 15px;
            i{
                text-indent: 0px;
            }
        }
        .location{
            height: 20px;
            font-size: 30px;
            vertical-align: middle;
        }
        
    }    
}
/*vista cel*/
@media(min-width:768px){
    .redes-top{
        position: absolute !important;
        bottom: -35px;
        right: 0px;
        z-index: 3;            
    }
}
@media (max-width:768px){
    .tel{
        margin: 0px 5px 0px !important;
        span{
            display: none;
        }
    }
    .email{
        margin: 0px 10px !important;
        i{
           display: inline;
        }
        span{
            display: none;
        }
    }
    .location{
        height: 20px;
        font-size: 20px !important;
        vertical-align: middle;
    }
    .redes-top{
    .social{
        margin-left: 0px;
        padding-left: 0px;
        list-style: none;
        li{ 
              a{
                font-size: 16px;
                float:left;
                margin: 5px;
                height: 20px;
                width: 20px;
                line-height: 15px;
                &:before{
                    display: none;
                }
             } 
            }
        }
    }

}
/*navegacion principal*/
.branding{    
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    transition: .5s;
}
.axe-fixed{
    top:0px;
    left: 0px;
    position: fixed;
    background-color:$color-gray;
}
.navbar-default{
    background-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    border:none;
    height: auto;
   .navbar-toggle{
    margin-top: 30px;
    }
    .navbar-brand{
        height: auto;
        .logo{
            width: 250px;
            height: auto;
        }
    }
    .navbar-collapse{
        position: relative;
        margin-top: 30px;
        .navbar-right{
            a{
                color:white;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .active{
               a{
                background: black;
               }
            }
            .open>a, .open>a:focus,  .open>a:hover{
                background-color: black;
                color:white;
            }
            .dropdown-menu{
                background: black;               
                li{
                    a{
                        font-size: 15px;
                        text-transform: unset;
                        position: relative;
                        &:hover{
                            background: $color-primary;
                        }
                        &:before{
                            content: "";
                            top:50%;
                            left: 7px;
                            height: 5px;
                            width: 5px;
                            border-radius: 50%;
                            background: white;
                            position: absolute;
                            transform:translateY(-50%);
                        }
                        
                    }
                    ul{
                       list-style: none;
                        color: white;
                        li{
                            a{
                                &:hover{
                                    background: transparent;
                                }
                                &:before{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*--Sociales */
.social{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    width: auto;
    li{ 
          a{
            font-size: 25px;
            float:left;
            margin: 10px;                
           height: 36px;
           width: 36px;
           border-radius: 50%;
           line-height: 36px;
           background:$color-gray;
           text-align: center;
           position: relative;
           color:white;  
           &:before{
               position: absolute;
               width: 44px;
               height: 44px;
               content: "";
               display: inline-block;
               border: solid 2px $color-gray;
               top: -4px;
               left: -4px;
               border-radius:50%;
               transition: .3s;
            } 
        &:hover:before,.b-active:before{
            border: solid 3px white;
        }                           
        }
        .b-active:before{
            border: solid 3px white;
        }
    }
}