.login{
    font-size: 16px;
    color:white;
    position: relative;
    background: linear-gradient($color-cian 0%,$color-cian 50%,$color-cian 50%,$color-primary 50%,$color-primary 100%); /* W3C */
    .form-login{
        background-color: $color-cian;        
    }
    .form-singin{
        background-color: $color-primary;      
    }
    .col-md-3,.col-md-2,.col-md-4{
        margin: 15px 0px;
    }
    input{
        border-radius: 5px;
        border:solid 1px $color-primary;
        padding: 5px 10px;
        color:white;
        background: transparent;
        width: 100%;
    }
    label{
        margin:5px 0px;
        font-weight: 400;
        padding-right: 20px;
    }

}
/* individual: webkit */
.l-g::-webkit-input-placeholder { color: white; }
/* individual: mozilla */
.l-g::-moz-placeholder { color: white; }
@media(min-width:769px){
    .login{ 
        background: linear-gradient(to right, $color-cian 0%,$color-cian 50%,$color-cian 50%,$color-primary 50%,$color-primary 100%); /* W3C */
        .col-md-3{
            padding: 0px 3px;
        }
    }
}
@media(max-width:769px){
    .form-login{
        padding-bottom: 1px;
    }

}
input{
        border-radius: 5px;
        padding: 5px 10px;
        color:white;
        background: transparent;
        border:solid 1px $color-primary;
}