
.second-slide{
    width: 100%;
    height: auto

}
.first-slide{
    width: 100%;
    height: auto
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #social-mobil{
        display:block
    }
    .social-container{
        display: none
    }

    #dropdownSocial{
        font-size: 20px;
    }

    #view-menu-mobile{
        display:block
    }


} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #view-menu-mobile{
        display:block
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }


    .nav-menu{
        height: 80px;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0.5;
        background-color: #000 !important;
        position: fixed;
        padding-top: 10px;
    }
    .menu-item{
        font-size: 20px;
        font-family: Roboto;
        color: white;
    }
    .menu-img{
        margin-left: 2%;
        height: 60px;
        z-index: 9999;
    }
    .flaticon-facebook:before,.flaticon-boton-de-logo-del-twitter:before,.flaticon-logo-linkedin:before,.flaticon-google-plus:before,.flaticon-youtube:before{
        font-size: 20px;

    }
    .flaticon-podcast-boton-circular:before {
        font-size: 20px;
        color:white;

    }
    #social-mobil{
        display:none
    }
    .social-container{
        display: block
    }

} 



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #view-menu-mobile{
        display:none
    }
    .nav-menu{
        height: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0.5;
        background-color: #000 !important;
        position: fixed;
        padding-top: 50px;
    }
    .menu-item{
        font-size: 20px;
        font-family: Roboto;
        color: white;
    }
    .flaticon-facebook:before,.flaticon-boton-de-logo-del-twitter:before,.flaticon-logo-linkedin:before,.flaticon-google-plus:before,.flaticon-youtube:before{
        font-size: 20px;

    }
    .flaticon-podcast-boton-circular:before {
        font-size: 20px;
        color:white;

    }
    #social-mobil{
        display:none
    }
    .social-container{
        display: block
    }
} 
@media only screen and (max-width: 875px) {


    #social-mobil{
        display:block
    }
    .social-container{
        display: none
    }

    #dropdownSocial{
        font-size: 20px;
    }
    .phone { font-size: 15px;}
    .email { font-size: 18px;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #view-menu-mobile{
        display:none
    }
    .nav-menu{
        height: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0.5;
        background-color: #000 !important;
        position: fixed;
        padding-top: 50px;
    }
    .menu-item{
        font-size: 20px;
        font-family: Roboto;
        color: white;
    }
    .flaticon-facebook:before,.flaticon-boton-de-logo-del-twitter:before,.flaticon-logo-linkedin:before,.flaticon-google-plus:before,.flaticon-youtube:before{
        font-size: 30px;

    }
    .flaticon-podcast-boton-circular:before {
        font-size: 30px;
        color:white;

    }
    .flaticon-marcador-de-posicion:before {
        font-size: 30px;
    }
    #social-mobil{
        display:none
    }
    .social-container{
        display: block
    }
}

@media screen and (min-width:1200px) {
    #view-menu-mobile{
        display:none
    }
    .lang,.email,.phone{
        font-size: 16px;
        font-family: Roboto;
    }
    .lang{
        font-style: italic;
        margin-left: 5%;
    }
    .nav-menu{
        height: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0.5;
        background-color: #000 !important;

        padding-top: 50px;
    }
    .menu-img{
        margin-left: 10%;
        z-index: 9999;
    }
    .menu-item{
        font-size: 20px;
        font-family: Roboto;
        color: white;
    }
    .menu-item:hover{
        text-decoration: none;
    }
    .menu-spacer{
        width: 25%;
    }
    .carousel-item{
        height: 670px;
    }
    .carousel-item > img {
        height: 100%;
/*        object-fit: cover;*/
    }
    .carousel-indicators{
        top: 88%;
    }
    .inscribete-container{

        position: relative;
        width: 100%;
        height: 100px;
        background-color: #98c5ed !important;
        color: white;
        margin-bottom: 1.25rem;
    }
    .inscribete-span{
        font-size: 19px;
        font-family: Roboto;
        margin-right: -39px;
        margin-left: 3%;
        width: 25%;
    }
    .carousel {
        margin-bottom: 0;
    }
    .inscribete-container input{
        margin-right: 12px;
        border-radius: 5px;
        background-color: #98c5ed;
        color: white;
        border: 1px solid #89b1d5;
        border-style: solid;
        height: 40px;
        width: 12%;
    }
    .inscribete-container input::placeholder {
        color: white;
        font-size: 16px;
        font-family: Roboto;
        margin-left: 15px;
    }
    .btn-entra,.btn-entra:hover {
        color: #fff;
        background-color: #7293b1;
        border-color: #7293b1;
    }
    .inscribete-novo{
        font-size: 19px;
        font-family: Roboto;
        margin-right: 15px;
        margin-left: 8%;
    }
    .btn-inscribete,.btn-inscribete:hover {
        color: #fff;
        background-color: #374856;
        border-color: #374856;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
    }
    .novo-container{
        background-color: #5b778f;
        width: 40%;
        margin-left: 6%;
        padding: 31px;
        margin-right: -16px;
    }
    footer{
        background-color: #d1cfcf;
    }
    .contact-text,.contact-text:hover{
        text-decoration: none;
        font-size: 18px;
        font-family: Roboto;
    }
    .bottom-footer{
        font-family: Roboto;
        font-size: 16px;
        text-align: center;
        position: relative;
        right: 25%;
        left: 25%;
        top: 27px;
        margin-left: 6%;
        color: #d1cfcf;
    }
    .bottom-concello{
        float: right;;
    }
    footer .container{
        max-width: 90%;
    }
    .contacto-margin{
        margin-left: 18%;
    }
    .content-h4{
        text-align: justify;
        margin-top: 15px;
        margin-left: 3px;
    }
    .emprego-divider{
        border-top: 1px solid #9c3f49;
        margin: auto;
        width: 100%;
        margin-left: 0px;
    }
    .formacion-divider{
        border-top: 1px solid #d2d3d3;
        margin: auto;
        width: 100%;
        margin-left: 0px;
    }
    .oferta-emprego{
        background-color: #9c3f49;
        color: white;
        width: 100%;
        margin-top: 10px;
    }
    .oferta-emprego span:first-child{
        font-size: 16px;
        font-family: Roboto;
        font-style: italic;
        display: block;
        text-align: left;
        padding: 15px;
    }
    .oferta-emprego span:nth-child(2){
        font-family: Roboto;
        font-size: 18px;
        display: block;
        text-align: left;
        background-color: #e4e5e8;
        width: 50%;
        color: black;
    }
    .oferta-desc{
        color: white;
        font-size: 22px;
        font-family: Roboto;
        text-align: left;
        display: block;
        margin-bottom: 0rem;
    }
    .oferta-location{
        font-family: Roboto;
        font-size: 16px;
        text-align: left;
        padding-bottom: 10px;
    }
    .content.container{
        max-width: 90%;
    }


    .oferta-formacion{
        background-color: #e4e5e8;
        color: white;
        width: 100%;
    }
    .oferta-formacion span:first-child{
        font-size: 16px;
        font-family: Roboto;
        font-style: italic;
        display: block;
        text-align: left;
        padding: 15px;
        color: #67666b;
    }
    .oferta-formacion span:nth-child(2){
        font-family: Roboto;
        font-size: 18px;
        display: block;
        text-align: left;
        background-color: #9c9ba0;
        width: 50%;
        color: white;
    }
    .formacion-desc{
        color: #43525f;
        font-size: 22px;
        font-family: Roboto;
        text-align: left;
        display: block;
        margin-bottom: 0rem;
    }
    .formacion-location{
        font-family: Roboto;
        font-size: 16px;
        text-align: left;
        padding-bottom: 10px;
        color: #43525f;
    }

    .boletin-tag {
        background-color: #e4e5e8;
        height: 300px;
    }

    .boletin-tag span:first-child{
        background-color: #ac880b;
        color: white;
        font-size: 25px;
        font-family: Roboto;
        text-align: left;
        display: block;
        width: 70%;
        position: relative;
        top: 25%;
    }

    .newsletter-container{
        background-color: #ac880b;
    }

    .newsletter-container input{
        margin-right: 15px;
        border-radius: 5px;
        background-color: #ac880b;
        color: white;
        border: 1px solid #564405;
        border-style: solid;
        height: 40px;
        margin-bottom: 25px;
    }
    .newsletter-container input::placeholder {
        color: white;
        font-size: 16px;
        font-family: Roboto;
        margin-left: 15px;
    }
    .btn-subscribir,.btn-subscribir:hover {
        color: #fff !important;
        background-color: #564405;
        border-color: #564405;
    }
    .newsletter-container span{
        display: block;
        font-family: Roboto;
        font-size: 18px;
        text-align: left;
        color: white;
        padding-right: 16px;
        padding-left: 28px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .ponteenmarcha-img img{
        width: 100%;
        height: auto;
        margin-top: 5%;
    }
    .social-container{

        position: absolute;
        right: 5%;
        top: 50%;

    }
    .flaticon-facebook:before,.flaticon-boton-de-logo-del-twitter:before,.flaticon-logo-linkedin:before,.flaticon-google-plus:before,.flaticon-youtube:before{
        font-size: 42px;

    }
    .flaticon-podcast-boton-circular:before {
        font-size: 42px;
        color:white;

    }
    .flaticon-marcador-de-posicion:before {
        font-size: 42px;
    }
    .top-header{
        height: 65px;
    }
    #social-mobil{
        display:none
    }
    .social-container{
        display: block
    }


} 

.menu-mobile{
    display:none
}

