	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/10/2018 11:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-facebook:before { content: "\f100";}
.flaticon-boton-de-logo-del-twitter:before { content: "\f101"; }
.flaticon-logo-linkedin:before { content: "\f102"; }
.flaticon-google-plus:before { content: "\f103"; }
.flaticon-youtube:before { content: "\f104"; }
.flaticon-podcast-boton-circular:before { content: "\f105"; }
.flaticon-marcador-de-posicion:before { content: "\f106"; }