/*Version: 1.0.0 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
/*
    Flaticon icon font: Flaticon
    Creation date: 10/10/2018 11:21
*/
@font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.eot");
    src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("fonts/Flaticon.woff") format("woff"), url("fonts/Flaticon.ttf") format("truetype"), url("fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

.fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.flaticon-facebook:before {
    content: "\f100";
}

.flaticon-boton-de-logo-del-twitter:before {
    content: "\f101";
}

.flaticon-logo-linkedin:before {
    content: "\f102";
}

.flaticon-google-plus:before {
    content: "\f103";
}

.flaticon-youtube:before {
    content: "\f104";
}

.flaticon-podcast-boton-circular:before {
    content: "\f105";
}

.flaticon-marcador-de-posicion:before {
    content: "\f106";
}

.color-primary {
    color: #5b778f;
}

.b-silver {
    background-color: #e4e5e8;
}

a {
    color: #67676b;
}

a:hover, a:active {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*
*slider
*/
.slider {
    height: 91vh;
    width: 100%;
}
.noslider {
    height: 27vh;
    width: 100%;
   
}

@media (max-width: 768px) {
    .slider {
        height: 400px;
    }

    .carousel-caption h1 {
        font-size: 18px !important;
    }

}


.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-primary {
    background-color: #5b778f;
    border: none;
}

.btn-default {
    background-color: #364755 !important; 
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
}
.btn{
    border-radius: 4px !important;   
}
input {
    border-radius: 5px !important;   
}
.btn-naranja {
    background-color: #e78628;
    color: white;
    font-weight: 600;
}

@media (min-width: 769px) {
    .no-padding-md {
        padding: 0px;
    }
}

/*contenido pincipal */
.contenido {
    margin-top: 30px;
}

.contenido h3 {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0px;
    padding-top: 15px;
    color: #4f4e50;
}

.contenido article {
    margin-bottom: 20px;
}

.contenido article img {
    width: 100%;
}

.contenido article .img-des {
    position: relative;
}

.contenido article .img-des .text-info {
    position: absolute;
    left: 0px;
    bottom: 30px;
    padding: 7px 15px 3px;
}

.contenido article .img-des .text-info img {
    width: 40px;
}

.contenido article .img-des .text-info .title {
    color: white;
    padding: 3px 7px 3px 0px;
    font-weight: 400;
    background-color: #ac880b;
    font-size: 23px;
    position: relative;
    margin-bottom: 10px;
}

.contenido article .img-des .text-info .title:before {
    content: "";
    height: 100%;
    width: 16px;
    top: 0px;
    left: -15px;
    position: absolute;
    background-color: inherit;
}

.contenido article .content {
    padding: 7px 15px 3px;
}

.contenido article .content .title {
    color: black;
    padding: 3px 5px 3px 15px;
    font-weight: 300;
    background-color: #e4e5e8;
    font-size: 20px;
    margin-left: -15px;
}

.border-red-top {
    border-top: solid 2px #9c3f49;
}

.border-silver-top {
    border-top: solid 2px #e4e5e8;
}

.content-red {
    background: #9c3f49;
    color: white;
}

.content-silver {
    background: #e4e5e8;
    color: #364755;
}

.content-silver .title {
    background-color: #9c9ba0 !important;
    color: white !important;
}

.content-gold {
    background: #ac880b;
    color: white;
    padding-bottom: 10px !important;
}

.content-gold input {
    width: 67%;
    border: solid 1px #564406;
}

.content-gold .btn-gold {
    background: #564406;
    width: 30%;
}

.fixed {
    background-color: black;
}

/*secciones Internas*/
.b-portada-img {
    height: 450px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.title {
    color: #5b778f;
    margin-bottom: 30px;
}

.page-content p {
    color: #67676b;
    font-size: 16px !important;
    margin-bottom: 30px;
}

.page-content h5 {
    font-size: 16px !important;
    font-weight: bold;
}

.page-content h2 {
    color: #9c9a9f;
    font-weight: 400;
    font-size: 19px;
}

.descargas {
    list-style: none;
    padding: 0px;
}

.descargas li {
    position: relative;
    margin-bottom: 10px;
}

.descargas li:before {
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    left: 10px;
    top: 50%;
    background-color: white;
    margin-top: -2px;
    position: absolute;
    z-index: 2px;
}

.descargas li a {
    width: 100%;
    padding: 10px 10px 10px 20px;
    background-color: #9c9ba0;
    font-size: 17px;
    color: white;
    display: table;
}

.descargas li a .peso {
    font-weight: 300;
}

.enlaces {
    padding-left: 25px;
    margin-top: 20px;
}

.enlaces li {
    margin-bottom: 10px;
    font-size: 17px;
}

header {
    position: absolute;
    width: 100%;
    z-index: 100;
}

header .header-top {
    background: #67676b;
    color: white;
    position: relative;
    padding-top: 5px;
    padding-bottom: 3px;
}

header .header-top .row {
    position: relative;
}

header .header-top .row .redes-top {
    position: relative;
}

header .header-top a {
    color: white;
}

header .header-top .tel {
    margin: 0px 15px 0px;
}

header .header-top .email {
    margin: 0px 15px;
}

header .header-top .email i {
    text-indent: 0px;
}

header .header-top .location {
    height: 20px;
    font-size: 30px;
    vertical-align: middle;
}

header .header-top .login {
    background:#67676b;
    color: #67676b;
    position: relative;
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #67676b;
    border-color: #67676b;
}
header .header-top .login a {
    background-color: #67676b;  
}
header .header-top .login a:hover {
    background-color: #67676b;  
    color:#333;
}
header .header-top .login .dropdown-menu {
    background-color: #67676b;  
}
header .header-top .login .dropdown-menu li{
    background-color: #67676b;  
    color:#333;
}

/*vista cel*/
@media (min-width: 768px) {
    .redes-top {
        position: absolute !important;
        bottom: -35px;
        right: 0px;
        z-index: 3;
    }
}

@media (max-width: 768px) {
    .tel {
        margin: 0px 5px 0px !important;
    }
    .tel span {
        display: none;
    }
    .email {
        margin: 0px 10px !important;
    }
    .email i {
        display: inline;
    }
    .email span {
        display: none;
    }
    .location {
        height: 20px;
        font-size: 20px !important;
        vertical-align: middle;
    }
    .redes-top .social {
        margin-left: 0px;
        padding-left: 0px;
        list-style: none;
    }
    .redes-top .social li a {
        font-size: 16px;
        float: left;
        margin: 5px;
        height: 20px;
        width: 20px;
        line-height: 15px;
    }
    .redes-top .social li a:before {
        display: none;
    }
}

/*navegacion principal*/
.branding {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    -webkit-transition: .5s;
    transition: .5s;
}

.axe-fixed {
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #67676b;
}

.navbar-default {
    background-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    height: auto;
}

.navbar-default .navbar-toggle {
    margin-top: 30px;
}

.navbar-default .navbar-brand {
    height: auto;
}

.navbar-default .navbar-brand .logo {
    width: 250px;
    height: auto;
}

.navbar-default .navbar-collapse {
    position: relative;
    margin-top: 30px;
}

.navbar-default .navbar-collapse .navbar-right a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-default .navbar-collapse .navbar-right .active a {
    background: black;
}

.navbar-default .navbar-collapse .navbar-right .open > a, .navbar-default .navbar-collapse .navbar-right .open > a:focus, .navbar-default .navbar-collapse .navbar-right .open > a:hover {
    background-color: black;
    color: white;
}

.navbar-default .navbar-collapse .navbar-right .dropdown-menu {
    background: black;
}

.navbar-default .navbar-collapse .navbar-right .dropdown-menu li a {
    font-size: 15px;
    text-transform: unset;
    position: relative;
}

.navbar-default .navbar-collapse .navbar-right .dropdown-menu li a:hover {
    background: #5b778f;
}

.navbar-default .navbar-collapse .navbar-right .dropdown-menu li a:before {
    content: "";
    top: 50%;
    left: 7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: white;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar-default .navbar-collapse .navbar-right .dropdown-menu li ul {
    list-style: none;
    color: white;
}

.navbar-default .navbar-collapse .navbar-right .dropdown-menu li ul li a:hover {
    background: transparent;
}

.navbar-default .navbar-collapse .navbar-right .dropdown-menu li ul li a:before {
    display: none;
}

/*--Sociales */
.social {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    width: auto;
}

.social li a {
    font-size: 25px;
    float: left;
    margin: 10px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    line-height: 36px;
    background: #67676b;
    text-align: center;
    position: relative;
    color: white;
}

.social li a:before {
    position: absolute;
    width: 44px;
    height: 44px;
    content: "";
    display: inline-block;
    border: solid 2px #67676b;
    top: -4px;
    left: -4px;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}

.social li a:hover:before, .social li a .b-active:before {
    border: solid 3px white;
}

.social li .b-active:before {
    border: solid 3px white;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    background-color: #777;
}

.carousel .carousel-inner .bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel .carousel-inner .bg1 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg");
    background-position: center top;
}

.carousel .carousel-inner .bg2 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg");
    background-position: center center;
}

.carousel .carousel-inner .bg3 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg");
    background-position: center bottom;
}

.carousel-caption {
    text-align: center;
}

.carousel-caption h1 {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-weight: 400;
}

.carousel-caption .btn-primary {
    color: white;
    background: black;
    border: none;
    border-radius: 0px;
    margin-bottom: 20px;
}

.carousel-indicators li {
    background-color: white !important;
    height: 16px;
    width: 16px;
    margin: 0px 5px;
    opacity: 0.5;
}

.carousel-indicators .active {
    margin: 0px 5px !important;
    position: relative;
    height: 16px;
    width: 16px;
    opacity: 1;
}

.carousel-indicators .active:before {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    border: solid 1px white;
    background: transparent;
    border-radius: 50%;
}

@media (min-width: 1200px) {
    .carousel-caption h1 {
        font-size: 50px;
    }
}

.login {
    font-size: 16px;
    color: white;
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(#98c5ee), color-stop(50%, #98c5ee), color-stop(50%, #98c5ee), color-stop(50%, #5b778f), to(#5b778f));
    background: linear-gradient(#98c5ee 0%, #98c5ee 50%, #98c5ee 50%, #5b778f 50%, #5b778f 100%);
    /* W3C */
}

.login .form-login {
    background-color: #98c5ee;
}

.login .form-singin {
    background-color: #5b778f;
}

.login .col-md-3, .login .col-md-2, .login .col-md-4 {
    margin: 15px 0px;
}

.login input {
    border-radius: 5px !important;
    border: solid 1px #5b778f;
    padding: 5px 10px;
    color: white;
    background: transparent;
    width: 100%;
}

.login label {
    margin: 5px 0px;
    font-weight: 400;
    padding-right: 20px;
}

/* individual: webkit */
.l-g::-webkit-input-placeholder {
    color: white;
}

/* individual: mozilla */
.l-g::-moz-placeholder {
    color: white;
}

@media (min-width: 769px) {
    .login {
        background: -webkit-gradient(linear, left top, right top, from(#98c5ee), color-stop(50%, #98c5ee), color-stop(50%, #98c5ee), color-stop(50%, #5b778f), to(#5b778f));
        background: linear-gradient(to right, #98c5ee 0%, #98c5ee 50%, #98c5ee 50%, #5b778f 50%, #5b778f 100%);
        /* W3C */
    }
    .login .col-md-3 {
        padding: 0px 3px;
    }
}

@media (max-width: 769px) {
    .form-login {
        padding-bottom: 1px;
    }
}

input {
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background: transparent;
    border: solid 1px #5b778f;
}

.pre-footer {
    font-size: 15px;
    background-color: #d1cfcf;
    color: #67676b;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.pre-footer .m-footer {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 20px;
}

.pre-footer .m-footer li a {
    font-size: 15px;
    color: #67676b;
}

.pre-footer .log img {
    width: 150px;
    height: auto;
    float: right;
}

@media (max-width: 769px) {
    .pre-footer .log {
        text-align: center;
        margin-top: 20px;
    }
    .pre-footer .log img {
        float: none;
    }
}

footer {
    background-color: white;
    text-align: center;
    padding: 20px 15px 10px 15px;
    color: #67676b;
}

.content-oferta .ofertas {
    
    list-style: none;
    padding: 0px;
}


.content-oferta .ofertas-e {
    column-count: 2 !important;
    list-style: none;
    padding: 0px;
}




.content-oferta .ofertas li {
    margin-bottom: 20px;
    width: 100%;
}

.content-oferta .ofertas li a {
    display: table;
    width: 100%;
}

.content-oferta .ofertas li .text-conte {
    padding: 1px 15px;
    background: #e4e5e8;
    width: 100%;
    color: black;
}

.content-oferta .ofertas li .date {
    background: white;
}

.content-oferta .ofertas .feature .title {
    background-color: #9c9ba0;
}

.content-oferta .ofertas .col-md-12, .content-oferta .ofertas .col-md-3, .content-oferta .ofertas .col-md-9 {
    padding: 0px;
}

.content-oferta article .date {
    margin-bottom: 4px;
    padding: 3px 15px;
    color: #9c9ba0;
}

.content-oferta article .title {
    background-color: #5b778f;
    color: white;
    padding: 3px 15px;
    text-transform: uppercase;
}

.content-oferta article h2, .content-oferta article h1 {
    font-size: 27px;
    margin-top: 14px;
    margin-bottom: 0px;
    font-weight: 600;
}

.content-oferta article p {
    font-size: 14px;
}

.content-oferta .description-o {
    margin: 32px 0px;
    color: #5b5b5e;
}

.content-oferta .description-o h2 {
    font-size: 25px !important;
    color: #5b778f !important;
    margin-bottom: 20px;
}

.content-oferta .description-o p {
    font-size: 16px !important;
    margin-bottom: 20px;
    text-align: justify !important;
}

.filtro {
    background-color: #a6a5aa;
    color: white;
    padding: 1px 15px;
}

.filtro h3 {
    color: #364755;
    font-weight: 600;
}

.filtro div {
    margin-bottom: 10px;
}

.filtro div .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.otras-c {
    text-align: left;
    font-size: 16px;
}

.otras-c strong {
    font-size: 18px;
}

.breadcrumbs {
    text-align: right;
    padding-top: 30px;
}

@media (max-width: 768px) {

    .breadcrumbs {
        padding-top: 0px;
    }

     .content-oferta .ofertas {
        column-count: 1 !important;
    }

}

.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}
/*# sourceMappingURL=style.css.map */
.img-des{
    text-align: center;
}
.img-des img{
    max-width: 350px;
    width: auto;
    height: auto;
    max-width: 100%;
}
.search{
    margin-bottom: 30px;
    position: relative;
}
.search:after{
    clear: both;
}
.search input{
    width: 80%;
    float: left;
    color: #67676b;
}
.search button{
    width: 19%;
    float: right;
}
.filter{
    color: #67676b;
}
.filter ul li a{
    font-size: 17px;
    font-weight: bold;  
}
.filter ul li a:hover{
    color: black
}
/*ofertas*/
.noticias li{
    width: 48% !important;
    float: left;
    position: relative;
    border-top: 2px solid #e4e5e8;
    margin-top: 30px;
}
.noticias li .date{
    padding: 10px;
    margin-bottom: 0px;
}

.noticias li p{
    text-align: justify !important;
}
.noticias li:nth-child(2n+2){
    clear: both;
}
.noticias li:nth-child(2n+1){
    margin-left: 4%;
}
@media(max-width:768px){
    .noticias li{
        width: 100% !important;
        margin-left: 0px !important
    }
}
.p-libres{
    margin-bottom: 32px
}
.p-libres button{
    width: 100%;
    text-transform: uppercase;
    font-size: 17px;
}
.f-cursos .fechas{
    width: 48%;
    float: left;
}
.f-cursos .fechas:nth-child(2n){
    float: right;
}
.f-cursos input{
    width: 100%;
    border: solid 1px white;
}
.navbar-header{
    position:relative;
    z-index:1000
}

.form-group.required .control-label:before {
    content:"*" !important;
    color:red !important;
}
@media(max-width:768px){
    a.scroll-top {
  display: none;
}
}
@media(min-width:769px){
   
.arrow{
    position: absolute;
    top:-70px;
    left: 95%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
}



/*# sourceMappingURL=style.css.map */